Repository woowa-techcamp-2021/cashbook-8, pull requests merged in 2021-07, with the labels that each got.

#1 [feature/github-template] pull request, issue template 추가
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#3 [feature/project setup] 프로젝트 세팅
  .gitignore
  backend/.eslintrc.js
  backend/.gitignore
  backend/package.json
  backend/src/app.ts
  backend/src/server.ts
  backend/tsconfig.json
  backend/yarn.lock
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/index.d.ts
  frontend/package.json
  frontend/src/index.html
  frontend/src/index.ts
  frontend/tsconfig.json
  frontend/webpack.config.dev.js
  frontend/webpack.config.prod.js
  frontend/yarn.lock
Labels: backend, feature, frontend

#4 [feature/GitHub time template] Github 템플릿 시간 항목 추가
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#7 [feature/fe base structure] 프론트엔드 기본 베이스 코드 작성
  .gitignore
  frontend/src/constant/actions.ts
  frontend/src/core/common-element.ts
  frontend/src/core/page.ts
  frontend/src/core/proxy-model.ts
  frontend/src/core/pubsub.ts
  frontend/src/core/router.ts
  frontend/src/core/ui-element.ts
  frontend/src/core/view-model.ts
  frontend/src/core/view.ts
  frontend/src/index.ts
  frontend/src/models/focus-date.ts
  frontend/src/models/index.ts
  frontend/src/pages/main/index.css
  frontend/src/pages/main/index.ts
  frontend/src/pages/not-found/index.css
  frontend/src/pages/not-found/index.ts
  frontend/src/types/dom.ts
  frontend/src/ui-elements/button/index.css
  frontend/src/ui-elements/button/index.ts
  frontend/src/utils/path.ts
  frontend/src/utils/selector.ts
  frontend/src/view-models/header.ts
  frontend/src/views/header/index.css
  frontend/src/views/header/index.ts
Labels: frontend

#11 [feature/be base structure] 백엔드 기본 베이스 코드 작성
  backend/package.json
  backend/src/config/dotenv.ts
  backend/src/database/index.ts
  backend/src/entities/category.ts
  backend/src/entities/index.ts
  backend/src/entities/user.ts
  backend/src/server.ts
  backend/src/utils/builder.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: backend

#14 [feature/github oauth] oauth2.0 적용
  backend/package.json
  backend/src/app.ts
  backend/src/config/dotenv.ts
  backend/src/controllers/auth.controller.ts
  backend/src/repositories/user.repository.ts
  backend/src/routers/auth/index.ts
  backend/src/routers/index.ts
  backend/src/services/auth.service.ts
  backend/src/services/jwt.service.ts
  backend/src/services/user.service.ts
  backend/src/third-party/github.ts
  backend/src/utils/querystring.ts
  backend/yarn.lock
Labels: backend, feature

#15 [feature/be error handling] 백엔드 에러 핸들링
  backend/src/app.ts
  backend/src/errors/base.error.ts
  backend/src/errors/server.error.ts
  backend/src/lib/wrap-async.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/routers/auth/index.ts
Labels: backend

#16 [feature/be auth middleware] 인증 미들웨어 개발
  backend/src/controllers/auth.controller.ts
  backend/src/entities/user.ts
  backend/src/errors/expired-token.error.ts
  backend/src/errors/invalid-token.error.ts
  backend/src/middlewares/auth.middleware.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/repositories/user.repository.ts
  backend/src/services/jwt.service.ts
  backend/src/services/user.service.ts
  backend/src/third-party/github.ts
  backend/src/types/express.d.ts
  backend/tsconfig.json
Labels: backend

#22 [feature/be data validation] 백엔드 데이터 검증 처리
  backend/package.json
  backend/src/errors/invalid-data.error.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/request/base.request.ts
  backend/src/types/express.d.ts
  backend/yarn.lock
Labels: backend

#23 [feature/user api] 회원 관련 API
  backend/src/controllers/user.controller.ts
  backend/src/entities/user.ts
  backend/src/middlewares/auth.middleware.ts
  backend/src/routers/index.ts
  backend/src/routers/user/index.ts
Labels: backend, feature

#27 [feature/category entity] userId 타입, 데코레이터 순서 변경
  backend/src/entities/category.ts
Labels: backend

#28 [feature/payment entity] payment entity 정의
  backend/src/entities/payment.ts
Labels: backend

#29 [feature/cash history entity] 가계 내역 Entity
  backend/.eslintrc.js
  backend/src/entities/cash-history.ts
  backend/src/entities/index.ts
  backend/src/enums/cash-history.enum.ts
Labels: backend, feature

#31 [feature/be type validation util] 백엔드 타입 검증 유틸리티
  backend/src/utils/validation/isNone.ts
  backend/src/utils/validation/isNotNone.ts
  backend/src/utils/validation/isNumber.ts
  backend/src/utils/validation/isNumberString.ts
Labels: backend, feature

#32 [feature/category api] category api 개발
  backend/src/controllers/category.controller.ts
  backend/src/errors/duplicate-category.error.ts
  backend/src/errors/notfound-category.error.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/repositories/category.repository.ts
  backend/src/request/category.request/category-create.request.ts
  backend/src/routers/category/index.ts
  backend/src/routers/index.ts
  backend/src/services/category.service.ts
Labels: backend, feature

#33 [feature/payment api] payment api 개발
  backend/src/controllers/category.controller.ts
  backend/src/controllers/payment.controller.ts
  backend/src/errors/duplicate-payment.error.ts
  backend/src/errors/notfound-category.error.ts
  backend/src/errors/notfound-payment.error.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/repositories/payment.repository.ts
  backend/src/request/payment.request/payment-create.request.ts
  backend/src/routers/index.ts
  backend/src/routers/payment/index.ts
  backend/src/services/category.service.ts
  backend/src/services/payment.service.ts
Labels: backend, feature

#35 [feature/cash history api] 가계 내역 관련 API
  backend/src/controllers/cash-history.controller.ts
  backend/src/entities/cash-history.ts
  backend/src/errors/not-my-cash-history.error.ts
  backend/src/errors/notfound-cash-history.error.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/repositories/cash-history.repository.ts
  backend/src/request/cash-history/cash-history-create.request.ts
  backend/src/request/cash-history/cash-history-find.request.ts
  backend/src/request/cash-history/cash-history-update.request.ts
  backend/src/routers/cash-history/index.ts
  backend/src/routers/index.ts
  backend/src/services/cash-history.service.ts
  backend/src/utils/date.ts
Labels: backend, feature

#36 [feature/category payment identification] 본인 확인 후 삭제
  backend/src/controllers/category.controller.ts
  backend/src/controllers/payment.controller.ts
  backend/src/errors/not-my-category.error.ts
  backend/src/errors/not-my-payment.error.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/services/category.service.ts
  backend/src/services/payment.service.ts
Labels: backend, bug

#38 [fix/be typescript lint] 백엔드 타입스크립트 린트
  backend/src/lib/wrap-async.ts
  backend/src/middlewares/auth.middleware.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/utils/builder.ts
Labels: backend

#42 [fix/fe typescript lint] 프론트엔드 타입스크립트 ESLint 적용
  frontend/.eslintrc.js
  frontend/src/core/common-element.ts
  frontend/src/core/page.ts
  frontend/src/core/proxy-model.ts
  frontend/src/core/pubsub.ts
  frontend/src/core/router.ts
  frontend/src/core/ui-element.ts
  frontend/src/core/view-model.ts
  frontend/src/core/view.ts
  frontend/src/utils/path.ts
  frontend/src/utils/selector.ts
  frontend/src/view-models/header.ts
  frontend/src/views/header/index.ts
Labels: frontend

#43 [feature/cash history fetch] 가계 내역 조회 및 타입 정의
  frontend/error/http-error.ts
  frontend/src/api/cash-history.ts
  frontend/src/api/request.ts
  frontend/src/constant/actions.ts
  frontend/src/core/router.ts
  frontend/src/models/cash-histories.ts
  frontend/src/models/index.ts
  frontend/src/types/base-response.ts
  frontend/src/types/cash-history.ts
  frontend/src/types/category.ts
  frontend/src/types/payment.ts
  frontend/src/types/user.ts
  frontend/src/utils/cookie.ts
  frontend/src/utils/path.ts
  frontend/src/view-models/header.ts
  frontend/src/views/header/index.ts
Labels: feature, frontend
