Repository woowa-techcamp-2021/cashbook-8, pull requests merged in 2021-08, with the labels that each got.

#44 [fix/cash history api total income expenditure] 가계 내역 조회 시 전체 지출, 수입 응답
  backend/src/services/cash-history.service.ts
Labels: backend, bug

#54 [fix/common element structure] CommonElement 상속 구조 변경
  frontend/src/core/common-element.ts
  frontend/src/core/page.ts
  frontend/src/core/router.ts
  frontend/src/core/ui-element.ts
  frontend/src/core/view.ts
  frontend/src/pages/main/index.ts
  frontend/src/pages/not-found/index.ts
  frontend/src/pages/notfound/index.css
  frontend/src/pages/notfound/index.ts
  frontend/src/ui-elements/button/index.ts
  frontend/src/views/header/index.css
  frontend/src/views/header/index.ts
  frontend/src/views/notfound/index.css
  frontend/src/views/notfound/index.ts
Labels: frontend

#55 [feature/fe dotenv setting] 프론트엔드 환경변수 설정
  frontend/.env.sample
  frontend/webpack.config.dev.js
  frontend/webpack.config.prod.js
Labels: frontend

#56 [feature/css variable] css 파일 추가
  frontend/src/assets/styles/common.css
  frontend/src/assets/styles/reset.css
  frontend/src/index.ts
Labels: frontend

#58 [feature/payment fetch] 결제수단 조회 및 모델 주입
  frontend/src/api/payment.ts
  frontend/src/constant/actions.ts
  frontend/src/models/categories.ts
  frontend/src/models/index.ts
  frontend/src/models/payments.ts
  frontend/src/types/cash-history.ts
  frontend/src/types/payment.ts
Labels: feature, frontend

#59 [feature/login page] 로그인 페이지 개발
  frontend/src/assets/styles/common.css
  frontend/src/assets/styles/reset.css
  frontend/src/assets/svg/github.svg
  frontend/src/core/router.ts
  frontend/src/pages/login/index.css
  frontend/src/pages/login/index.ts
  frontend/src/view-models/login.ts
  frontend/src/views/login/index.css
  frontend/src/views/login/index.ts
Labels: feature, frontend

#62 [fix/ui-element-structure] UIElement의 tag와 className을 지정
  frontend/src/core/page.ts
  frontend/src/core/ui-element.ts
  frontend/src/pages/login/index.ts
Labels: enhancement, feature

#64 [feature/header view] Header View 레이아웃과 동작
  frontend/src/assets/icons/fonts/woowahan-cashbook-icons.woff
  frontend/src/assets/icons/fonts/woowahan-cashbook-icons.woff2
  frontend/src/assets/icons/index.html
  frontend/src/assets/icons/woowahan-cashbook-icons.css
  frontend/src/assets/icons/woowahan-cashbook-icons.json
  frontend/src/assets/svg/calendar.svg
  frontend/src/assets/svg/chart.svg
  frontend/src/assets/svg/check.svg
  frontend/src/assets/svg/file-text.svg
  frontend/src/view-models/header.ts
  frontend/src/views/header/index.css
  frontend/src/views/header/index.ts
Labels: feature, frontend

#66 [feature/cash history content column] content column 추가
  backend/src/entities/cash-history.ts
  backend/src/request/cash-history/cash-history-create.request.ts
  backend/src/request/cash-history/cash-history-update.request.ts
  backend/src/services/cash-history.service.ts
  frontend/src/types/cash-history.ts
Labels: backend, frontend

#67 [feature/calendar page] 캘린더 페이지 개발
  frontend/src/core/router.ts
  frontend/src/pages/calendar/index.css
  frontend/src/pages/calendar/index.ts
  frontend/src/pages/notfound/index.ts
  frontend/src/types/cash-history.ts
  frontend/src/ui-elements/calendar/calendar-cell/index.css
  frontend/src/ui-elements/calendar/calendar-cell/index.ts
  frontend/src/ui-elements/calendar/calendar-detail-item/index.css
  frontend/src/ui-elements/calendar/calendar-detail-item/index.ts
  frontend/src/ui-elements/calendar/calendar-detail/index.css
  frontend/src/ui-elements/calendar/calendar-detail/index.ts
  frontend/src/ui-elements/calendar/calendar-total-price/index.css
  frontend/src/ui-elements/calendar/calendar-total-price/index.ts
  frontend/src/ui-elements/calendar/calendar/index.css
  frontend/src/ui-elements/calendar/calendar/index.ts
  frontend/src/utils/date.ts
  frontend/src/view-models/calendar.ts
  frontend/src/views/calendar/index.css
  frontend/src/views/calendar/index.ts
Labels: feature, frontend

#70 [feature/number format util] 숫자 format 유틸리티
  frontend/src/utils/formatter.ts
Labels: feature, frontend

#68 [feature/main cash history] 가계 내역 개발
  backend/src/services/jwt.service.ts
  frontend/src/assets/styles/common.css
  frontend/src/constant/actions.ts
  frontend/src/core/router.ts
  frontend/src/models/index.ts
  frontend/src/pages/main/index.css
  frontend/src/pages/main/index.ts
  frontend/src/types/user.ts
  frontend/src/ui-elements/cash-history/cash-row/index.css
  frontend/src/ui-elements/cash-history/cash-row/index.ts
  frontend/src/ui-elements/cash-history/daily-cash-history/index.css
  frontend/src/ui-elements/cash-history/daily-cash-history/index.ts
  frontend/src/utils/date.ts
  frontend/src/view-models/main.ts
  frontend/src/views/main/index.css
  frontend/src/views/main/index.ts
Labels: feature, frontend

#72 [feature/cash history enum] 가계내역 타입 enum 추가
  frontend/src/enums/cash-history.enum.ts
Labels: feature, frontend

#76 [fix/cash history calendar api] 한달의 가계 내역 조회 API에 Date 인덱스 밀림 수정
  backend/src/services/cash-history.service.ts
Labels: backend, bug

#78 [feature/calendar page elements refactor] 캘린더 페이지 이벤트 델리게이션 적용 및 캘린더 태그 변경
  frontend/src/ui-elements/calendar/calendar-cell/index.css
  frontend/src/ui-elements/calendar/calendar-cell/index.ts
  frontend/src/ui-elements/calendar/calendar-detail-item/index.ts
  frontend/src/ui-elements/calendar/calendar-detail/index.ts
  frontend/src/ui-elements/calendar/calendar-total-price/index.ts
  frontend/src/ui-elements/calendar/calendar/index.css
  frontend/src/ui-elements/calendar/calendar/index.ts
Labels: enhancement, frontend

#80 [feature/category type attribute] 카테고리 타입 속성 추가
  backend/src/entities/category.ts
  backend/src/request/cash-history/cash-history-create.request.ts
  backend/src/request/cash-history/cash-history-update.request.ts
  backend/src/request/category.request/category-create.request.ts
  backend/src/services/cash-history.service.ts
  backend/src/services/category.service.ts
  frontend/src/types/category.ts
Labels: backend, frontend

#81 [feature/cash history date request] 가계 내역 생성/수정 시 date를 수신
  backend/src/request/cash-history/cash-history-create.request.ts
  backend/src/request/cash-history/cash-history-update.request.ts
  backend/src/services/cash-history.service.ts
  backend/src/utils/date.ts
Labels: backend, enhancement

#84 [feature/main console] main console 1차 개발 완료
  frontend/src/api/cash-history.ts
  frontend/src/api/category.ts
  frontend/src/api/payment.ts
  frontend/src/constant/actions.ts
  frontend/src/enums/cash-history.enum.ts
  frontend/src/models/cash-history.ts
  frontend/src/models/index.ts
  frontend/src/pages/main/index.css
  frontend/src/pages/main/index.ts
  frontend/src/types/cash-history.ts
  frontend/src/ui-elements/cash-history/cash-row/index.ts
  frontend/src/ui-elements/drop-down/index.css
  frontend/src/ui-elements/drop-down/index.ts
  frontend/src/utils/date.ts
  frontend/src/view-models/calendar.ts
  frontend/src/view-models/console.ts
  frontend/src/view-models/header.ts
  frontend/src/view-models/main.ts
  frontend/src/views/console/index.css
  frontend/src/views/console/index.ts
  frontend/src/views/main/index.ts
Labels: feature, frontend

#87 [feature/expenditure in month view] 현재 focus된 달의 지출 시각화 View
  frontend/src/ui-elements/chart/pie-chart/index.css
  frontend/src/ui-elements/chart/pie-chart/index.ts
  frontend/src/ui-elements/expenditure/expenditure-list/index.css
  frontend/src/ui-elements/expenditure/expenditure-list/index.ts
  frontend/src/utils/math.ts
  frontend/src/utils/time.ts
  frontend/src/view-models/expenditure-in-month.ts
  frontend/src/views/expenditure-in-month/index.css
  frontend/src/views/expenditure-in-month/index.ts
Labels: feature, frontend

#88 [feature/header router] 헤더 라우터 설정 및 UI 로직
  frontend/src/core/pubsub.ts
  frontend/src/core/router.ts
  frontend/src/index.ts
  frontend/src/pages/chart/index.css
  frontend/src/pages/chart/index.ts
  frontend/src/view-models/expenditure-in-month.ts
  frontend/src/view-models/header.ts
  frontend/src/views/header/index.css
  frontend/src/views/header/index.ts
Labels: bug, enhancement, frontend

#90 [feature/cash history bug] 가계 내역 리팩토링, 버그 수정
  frontend/src/ui-elements/cash-history/cash-history-row/index.css
  frontend/src/ui-elements/cash-history/cash-history-row/index.ts
  frontend/src/ui-elements/cash-history/daily-cash-history/index.css
  frontend/src/ui-elements/cash-history/daily-cash-history/index.ts
  frontend/src/ui-elements/cash-history/monthly-cash-history/index.css
  frontend/src/ui-elements/cash-history/monthly-cash-history/index.ts
  frontend/src/view-models/console.ts
  frontend/src/view-models/expenditure-in-month.ts
  frontend/src/view-models/main.ts
  frontend/src/views/main/index.css
  frontend/src/views/main/index.ts
Labels: bug, feature, frontend

#91 [feature/category month api] 카테고리, 월별 소비 추이 api 개발
  backend/src/controllers/cash-history.controller.ts
  backend/src/repositories/cash-history.repository.ts
  backend/src/request/cash-history/monthly-category-total-cash-get-request.ts
  backend/src/routers/cash-history/index.ts
  backend/src/services/cash-history.service.ts
Labels: backend, feature

#92 [feature/line chart] 카테고리, 월별 소비 추이 개발
  backend/src/services/cash-history.service.ts
  frontend/src/api/cash-history.ts
  frontend/src/constant/actions.ts
  frontend/src/models/category-expenditure.ts
  frontend/src/models/index.ts
  frontend/src/pages/chart/index.ts
  frontend/src/types/cash-history.ts
  frontend/src/utils/svg.ts
  frontend/src/view-models/category-expenditure.ts
  frontend/src/views/category-expenditure/index.css
  frontend/src/views/category-expenditure/index.ts
Labels: feature, frontend

#96 [feature/main console refactor] 메인 콘솔 기능 추가 및 리펙토링
  backend/src/middlewares/error.middleware.ts
  backend/src/services/cash-history.service.ts
  backend/src/services/category.service.ts
  backend/src/services/payment.service.ts
  frontend/src/api/category.ts
  frontend/src/api/payment.ts
  frontend/src/api/request.ts
  frontend/src/assets/styles/colors.ts
  frontend/src/constant/actions.ts
  frontend/src/index.html
  frontend/src/models/cash-history.ts
  frontend/src/models/index.ts
  frontend/src/types/cash-history.ts
  frontend/src/ui-elements/calendar/calendar-detail-item/index.ts
  frontend/src/ui-elements/cash-history/cash-history-row/index.ts
  frontend/src/ui-elements/drop-down/index.css
  frontend/src/ui-elements/drop-down/index.ts
  frontend/src/ui-elements/input-modal/index.css
  frontend/src/ui-elements/input-modal/index.ts
  frontend/src/utils/date.ts
  frontend/src/utils/toast/toast.css
  frontend/src/utils/toast/toast.ts
  frontend/src/view-models/console.ts
  frontend/src/view-models/main.ts
  frontend/src/views/console/index.css
  frontend/src/views/console/index.ts
Labels: bug, feature, frontend

#98 [feature/deployment] 프론트엔드 빌드 정적 파일 서빙
  backend/src/app.ts
  frontend/webpack.config.prod.js
Labels: backend, frontend

#99 [feature/chart connect data] 차트 데이터 연결 및 카테고리 클릭 시 라인차트 show
  frontend/src/ui-elements/expenditure/expenditure-list/index.ts
  frontend/src/view-models/category-expenditure.ts
  frontend/src/view-models/expenditure-in-month.ts
  frontend/src/views/category-expenditure/index.css
  frontend/src/views/category-expenditure/index.ts
  frontend/src/views/expenditure-in-month/index.ts
Labels: enhancement, feature, frontend

#102 [fix/pie-chart-refactor] 미분류에 대한 내용 차트에 추가
  frontend/src/ui-elements/chart/pie-chart/index.ts
  frontend/src/ui-elements/expenditure/expenditure-list/index.ts
  frontend/src/view-models/expenditure-in-month.ts
  frontend/src/views/expenditure-in-month/index.ts
Labels: bug, frontend

#121 [feature/url dotenv] 프론트엔드 환경변수 사용
  frontend/config/dotenv.ts
  frontend/src/api/cash-history.ts
  frontend/src/api/category.ts
  frontend/src/api/payment.ts
  frontend/src/view-models/login.ts
Labels: enhancement, frontend

#122 [feature/frontend auth] 프론트엔드 인증 및 에러 핸들링
  frontend/src/api/cash-history.ts
  frontend/src/api/category.ts
  frontend/src/api/middlewares/auth.middleware.ts
  frontend/src/api/payment.ts
  frontend/src/core/router.ts
  frontend/src/index.ts
  frontend/src/ui-elements/chart/pie-chart/index.ts
  frontend/src/view-models/calendar.ts
  frontend/src/view-models/console.ts
  frontend/src/view-models/expenditure-in-month.ts
  frontend/src/view-models/main.ts
  frontend/src/views/category-expenditure/index.ts
Labels: enhancement, frontend

#124 [fix/cash history list update bug] 가계 내역 업데이트 이슈 및 역순 정렬
  frontend/src/view-models/console.ts
  frontend/src/view-models/main.ts
Labels: bug, enhancement, frontend

#125 [feature/line chart price] y label 반올림
  frontend/src/views/category-expenditure/index.ts
Labels: bug, frontend

#126 [feature/router-redirect] express redirect
  backend/src/app.ts
Labels: backend, enhancement

#127 [feature/toast] 토스트 애니메이션 추가, 성공 api에 적용
  frontend/src/utils/toast/toast.css
  frontend/src/utils/toast/toast.ts
  frontend/src/view-models/console.ts
Labels: enhancement, frontend

#131 [feature/color picker] ColorPicker 개발
  frontend/src/assets/styles/colors.ts
  frontend/src/ui-elements/color-picker/index.css
  frontend/src/ui-elements/color-picker/index.ts
  frontend/src/ui-elements/input-modal/index.css
  frontend/src/ui-elements/input-modal/index.ts
  frontend/src/utils/color.ts
Labels: enhancement, feature, frontend

#133 [fix/cash history create update reverse bug] 가계 내역 생성 시 역순 정렬 유지
  frontend/src/view-models/main.ts
Labels: bug, frontend

#134 [fix/modal style] 모달 스타일 및 모달 종료 조건 수정
  frontend/src/ui-elements/color-picker/index.ts
  frontend/src/ui-elements/input-modal/index.css
  frontend/src/ui-elements/input-modal/index.ts
  frontend/src/utils/toast/toast.css
  frontend/src/view-models/console.ts
  frontend/src/views/console/index.ts
Labels: enhancement, frontend

#135 [feature/cash history item conditional price] 한달 가계 내역 아이템 수입 지출이 있을 경우만 표시
  frontend/src/ui-elements/cash-history/monthly-cash-history/index.ts
Labels: enhancement, frontend

#136 [feature/login style] login ui 수정
  frontend/src/assets/images/guest.png
  frontend/src/assets/images/login-background.png
  frontend/src/views/login/index.css
  frontend/src/views/login/index.ts
Labels: enhancement, frontend

#138 [feature/console-reset] 콘솔 reset 버튼
  frontend/src/view-models/console.ts
  frontend/src/views/console/index.css
  frontend/src/views/console/index.ts
Labels: enhancement, feature, frontend

#139 [feature/header style] header 디테일 수정, 버튼 애니메이션 추가
  frontend/src/assets/styles/common.css
  frontend/src/views/header/index.css
  frontend/src/views/header/index.ts
Labels: enhancement, frontend

#141 [feature/margin hover] 누락된 마진, hover 처리
  frontend/src/pages/chart/index.css
  frontend/src/pages/chart/index.ts
  frontend/src/ui-elements/cash-history/monthly-cash-history/index.css
  frontend/src/views/console/index.css
Labels: enhancement, frontend

#143 [feature/user profile] 헤더 프로필 이미지 표시
  frontend/src/api/middlewares/auth.middleware.ts
  frontend/src/api/user.ts
  frontend/src/constant/actions.ts
  frontend/src/models/index.ts
  frontend/src/models/user.ts
  frontend/src/types/user.ts
  frontend/src/view-models/header.ts
  frontend/src/views/header/index.css
  frontend/src/views/header/index.ts
Labels: feature, frontend

#145 [feature/chart title] chart 페이지 타이틀 수정
  frontend/src/ui-elements/expenditure/expenditure-list/index.css
  frontend/src/ui-elements/expenditure/expenditure-list/index.ts
  frontend/src/views/category-expenditure/index.css
  frontend/src/views/category-expenditure/index.ts
Labels: enhancement, frontend

#147 [feature/guest user] 게스트 회원으로 로그인 기능
  backend/src/config/dotenv.ts
  backend/src/controllers/auth.controller.ts
  backend/src/errors/not-found-user.error.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/routers/auth/index.ts
  backend/src/services/user.service.ts
  frontend/src/api/user.ts
  frontend/src/types/user.ts
  frontend/src/utils/toast/toast.css
  frontend/src/view-models/login.ts
  frontend/src/views/login/index.ts
Labels: frontend, feature

#148 [feature/header and filter] 디테일한 UI 수정
  frontend/src/assets/styles/reset.css
  frontend/src/ui-elements/color-picker/index.css
  frontend/src/ui-elements/color-picker/index.ts
  frontend/src/views/header/index.css
  frontend/src/views/main/index.css
Labels: enhancement, frontend

#149 [fix/calendar popup ui] 캘린더 팝업 UI 잘리는 부분 수정
  frontend/src/ui-elements/calendar/calendar-detail-item/index.css
Labels: enhancement, frontend

#150 v0.7 release
  backend/src/config/dotenv.ts
  backend/src/controllers/auth.controller.ts
  backend/src/errors/not-found-user.error.ts
  backend/src/middlewares/error.middleware.ts
  backend/src/routers/auth/index.ts
  backend/src/services/user.service.ts
  frontend/src/api/user.ts
  frontend/src/assets/styles/reset.css
  frontend/src/types/user.ts
  frontend/src/ui-elements/calendar/calendar-detail-item/index.css
  frontend/src/ui-elements/color-picker/index.css
  frontend/src/ui-elements/color-picker/index.ts
  frontend/src/ui-elements/expenditure/expenditure-list/index.css
  frontend/src/ui-elements/expenditure/expenditure-list/index.ts
  frontend/src/utils/toast/toast.css
  frontend/src/view-models/login.ts
  frontend/src/views/category-expenditure/index.css
  frontend/src/views/category-expenditure/index.ts
  frontend/src/views/header/index.css
  frontend/src/views/login/index.ts
  frontend/src/views/main/index.css
Labels: release

#151 [feature/user avator url length] 회원 엔티티 avator 컬럼 길이 조절
  backend/src/entities/user.ts
  frontend/src/views/header/index.css
  frontend/src/views/login/index.css
  frontend/src/views/login/index.ts
Labels: enhancement, frontend, backend

#153 v0.8 release
  backend/src/entities/user.ts
  frontend/src/views/header/index.css
  frontend/src/views/login/index.css
  frontend/src/views/login/index.ts
Labels: release

#154 [fix/duplicate category payment bug] 중복 카테고리, 결제수단 오류 수정
  backend/src/repositories/category.repository.ts
  backend/src/repositories/payment.repository.ts
  backend/src/services/category.service.ts
  backend/src/services/payment.service.ts
Labels: bug, backend

#156 v0.9 release
  backend/src/repositories/category.repository.ts
  backend/src/repositories/payment.repository.ts
  backend/src/services/category.service.ts
  backend/src/services/payment.service.ts
Labels: release

#158 [feature/calendar fix] category tag UI 깨짐 수정
  frontend/src/ui-elements/calendar/calendar-detail-item/index.css
Labels: bug, frontend

#160 [fix/async data fetch bug] 비동기 데이터 불러오기 오류
  frontend/src/api/cash-history.ts
  frontend/src/api/category.ts
  frontend/src/api/payment.ts
  frontend/src/views/header/index.ts
Labels: bug, frontend

#165 [feature/chart monthly list] 차트 달별 리스트 조회
  frontend/src/models/category-expenditure.ts
  frontend/src/models/index.ts
  frontend/src/types/cash-history.ts
  frontend/src/view-models/category-expenditure.ts
  frontend/src/view-models/expenditure-in-month.ts
  frontend/src/views/category-expenditure/index.css
  frontend/src/views/category-expenditure/index.ts
Labels: frontend, feature
